
 html {
  box-sizing:border-box;

}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display:flex;
  height:100vh;
  align-items:center;
  justify-content:center;
  background-color:#720026;
  font-family:'Inconsolata', monospace;
}

.calculator {
  border-radius:8px;
  border-style:solid;
  border-color:#FF7F51;
  background-color:#FF7F51;
  box-shadow:0 0 40px 0px rgba(0, 0, 0, 0.15);
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items:center;
  max-width:18em;
  margin-left:auto;
  margin-right:auto;
  margin-top:2em;
}

button {
  font-size:2rem;
  border-radius:8px;
  width:2em;
  background-color:#f5f2d0;
  border-style:none;
  font-family:inherit;
}

#display {
  margin-top: 1em;
  position:relative;
  width:8.5em;
  height:2em;
  text-align:right;
  background-color:#f5f2d0;
  border-radius: 8px;
  font-size:2rem;
  font-color:#720026;
}

.keys {
  margin-right: 2em;
  margin-left:2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5vw 0.5vw;
  padding:1vw;
  padding-right:1.5em;
  padding-left:1.5em;
}

#clear {
  background-color: #FF9B54;

}

#equals {
  background-color: #CE4257;
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 6;
}
