
 html {
  box-sizing:border-box;

}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #D5BBB1;
}

#display {
  background-color: #393D3F;
}

#clear {
  background-color: #9CC4B2;
}

#equals {
  background-color: #E76D83;
}
